<div class="container" style="background-color: var(--bg-color); color: var(--text-color);">
  <!-- Carousel -->
  <div class="d-flex justify-content-center mb-3 mx-3 rounded-5" style="height: 150px; background: var(--carousel-gradient);" id="carousel">
    <div id="carouselExampleControls" class="carousel slide d-flex align-items-center justify-content-center" data-bs-ride="carousel" style="width: 600px;">

      <div class="carousel-indicators">
        <button *ngFor="let slide of carouselItems; let i = index" type="button" data-bs-target="#carouselExampleControls" [attr.data-bs-slide-to]="i" [class.active]="i === 0" [attr.aria-label]="'Slide ' + (i + 1)"></button>
      </div>


      <div class="carousel-inner text-white">
        <div *ngFor="let slide of carouselItems; let i = index" class="carousel-item" [class.active]="i === 0">
          <div class="d-flex justify-content-between align-items-center p-3">
            <div class="text-left">
              <h4>{{ slide.title }}</h4>
              <small>{{ slide.description }}</small>
            </div>

            <img [src]="slide.image" [alt]="slide.title" class="img-fluid" style="max-height: 150px; max-width: 150px" />
          </div>
        </div>
      </div>

      <!-- Controls -->
      <button class="carousel-control-prev opacity-0" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next opacity-0" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
  </div>

  <div class="mb-3" style="position: sticky; top: 0; z-index: 999; background-color: var(--bg-color); padding-top: 1rem; padding-bottom: 1rem;">
    <!-- Search -->
    <div class="position-relative px-3">
      <i class="bi bi-search position-absolute" style="top: 50%; left: 30px; transform: translateY(-50%);"></i>
      <input type="search" placeholder="Pesquisar" class="form-control ps-5" style="background-color: var(--input-bg); color: var(--text-color);" [(ngModel)]="searchTerm">
    </div>

    <ul class="list-group list-group-horizontal overflow-auto mt-3 mx-3 rounded-0">
      <a *ngFor="let item of menuItems" class="text-decoration-none" [href]="item.anchor">
        <li class="list-group-item" style="width: max-content; background-color: var(--bg-color); color: var(--text-color);">
          {{ item.title }}
        </li>
      </a>
    </ul>
  </div>

  <div *ngFor="let item of filteredMenuItems" class="my-3">
    <div class="mx-3" [id]="item.id">
      <h3 class="mb-3">{{ item.title }}</h3>
      <ul class="list-group list-group-vertical gap-2 cursor-pointer">
        <li *ngFor="let subitem of item.items" (click)="openModalItem(subitem)" class="list-group-item" style="background-color: var(--bg-color); color: var(--text-color); border: solid 2px var(--input-bg)">
          <div class="d-flex justify-content-between align-items-center mb-1">
            <div style="max-width: 70%;">
              <h5 class="mb-0">{{ subitem.subtitle }}</h5>
              <small>{{ subitem.description}}</small>
            </div>

            <div>
              <img [src]="subitem.image" alt="" style="max-width: 100px;">
            </div>
          </div>
          <span class="fw-bold mb-0">R$ {{ subitem.price }},00</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="d-flex justify-content-end px-0" style="position: fixed; bottom: 20px; right: 20px; z-index: 9999;">
  <a href="#page-up" class="text-decoration-none">
    <i class="bi bi-arrow-up-circle-fill fs-1" style="color: var(--page-up);"></i>
  </a>
</div> -->

<div *ngIf="showScrollButton" class="d-flex justify-content-end px-0" style="position: fixed; bottom: 20px; right: 20px; z-index: 9999;">
  <a href="#page-up" class="text-decoration-none">
    <i class="bi bi-arrow-up-circle-fill fs-1" style="color: var(--page-up);"></i>
  </a>
</div>


<!-- Modal items -->
<div class="modal fade show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5); z-index: 9999;" *ngIf="selectedItem">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: var(--bg-color); color: var(--text-color);">
      <div class="modal-header d-flex justify-content-between align-items-center">
        <h5 class="modal-title">{{ selectedItem.subtitle }}</h5>
        <i class="bi bi-x fs-1 cursor-pointer" (click)="closeModalItem()" aria-label="Close"></i>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center align-items-center">
          <img [src]="selectedItem.image" class="img-fluid mb-3" alt="{{ selectedItem.subtitle }}" style="height: 150px;">
        </div>
        <p>{{ selectedItem.description }}</p>
        <p><strong>R$ {{ selectedItem.price }},00</strong></p>
      </div>
    </div>
  </div>
</div>