<!-- Overlay -->
<div class="overlay" *ngIf="showSidebar" (click)="closeSidebar()"></div>

<!-- Header -->
<header class="header py-5" id="page-up">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between py-2">

      <!-- Botão Menu -->
      <div class="header-col text-start">
        <i class="bi bi-list fs-1 cursor-pointer" (click)="openSidebar()"></i>
      </div>

      <!-- Logo Central -->
      <div class="header-col text-center">
        <!-- <img src="assets/logo.png" alt="Logo" class="img-fluid logo" /> -->
        <div class="logo-text fs-1">🍽️</div>
      </div>

      <!-- Switch Tema -->
      <div class="header-col d-flex justify-content-end align-items-center gap-2">
        <i class="bi bi-sun"></i>

        <div class="form-check form-switch m-0">
          <input type="checkbox" class="form-check-input cursor-pointer" id="themeSwitch" (change)="toggleTheme($event)" />
        </div>

        <i class="bi bi-moon"></i>
      </div>

    </div>
  </div>
</header>


<!-- Sidebar -->
<div class="sidebar" [class.sidebar-visible]="showSidebar">
  <div class="sidebar-content">

    <div class="d-flex justify-content-between align-items-center px-3">
      <h4 class="m-0">Menu</h4>
      <i class="bi bi-x fs-1 cursor-pointer" (click)="closeSidebar()"></i>
    </div>

    <ul class="list-group list-group-flush mt-3">
      <li class="list-group-item">Início</li>
      <li class="list-group-item">Cardápio</li>
      <li class="list-group-item">Sobre</li>
      <li class="list-group-item">Contato</li>
    </ul>

  </div>
</div>