/* HEADER */
.header {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* 3 colunas iguais */
.header-col {
  flex: 1;
}

/* Logo controlada */
.logo {
  max-height: 45px;
}

/* Cursor Bootstrap helper */
.cursor-pointer {
  cursor: pointer;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* opacidade */
  z-index: 1000; /* abaixo da sidebar */
  pointer-events: all;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: 0.3s ease;
  z-index: 1000;
}

.sidebar-visible {
  width: 250px;
}

.sidebar-content {
  padding-top: 1rem;
}

/* Sidebar items com tema */
.list-group-item {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
}
