/* Fundo escuro ao abrir o menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* opacidade */
  z-index: 1000; /* abaixo da sidebar */
  pointer-events: all;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s ease;
  z-index: 1000; /* acima do overlay */
}

.sidebar-visible {
  width: 250px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar-content {
  height: 100%;
  padding-top: 1rem;
}
