<!-- <header class="d-flex justify-content-between align-items-center p-2 mx-3" style="background-color: var(--bg-color); color: var(--text-color);">
  <div class="d-flex justify-content-start w-25 h-25">
    <i class="bi bi-list fs-1 cursor-pointer" (click)="toggleSidebar()"></i>
  </div>

  <div class="d-flex justify-content-center w-25 h-25">
    <img src="assets/logo.png" alt="Logo" class="mw-100 mh-100">
  </div>

  <div class="d-flex align-items-center justify-content-end gap-1 w-25">
    <i class="bi bi-sun fs-2"></i>
    <div class="form-check form-switch d-flex align-items-center justify-content-center">
      <input type="checkbox" id="themeSwitch" class="form-check-input" role="switch" (change)="toggleTheme($event)">
    </div>
    <i class="bi bi-moon fs-2"></i>
  </div>
</header> -->

<!-- Overlay -->
<div class="overlay" *ngIf="showSidebar" (click)="closeSidebar()"></div>

<header class="d-flex justify-content-between align-items-center p-2 mx-3" style="background-color: var(--bg-color); color: var(--text-color); position: relative;" id="page-up">
  <div class="d-flex justify-content-start w-25 h-25">
    <i class="bi bi-list fs-1" (click)="openSidebar()" style="cursor: pointer;"></i>
  </div>

  <div class="d-flex justify-content-center w-25 h-25">
    <img src="assets/logo.png" alt="Logo" class="mw-100 mh-100">
  </div>

  <div class="d-flex align-items-center justify-content-end gap-1 w-25">
    <i class="bi bi-sun fs-6"></i>
    <div class="form-check form-switch d-flex align-items-center justify-content-center">
      <input type="checkbox" id="themeSwitch" class="form-check-input" role="switch" (change)="toggleTheme($event)">
    </div>
    <i class="bi bi-moon fs-6"></i>
  </div>
</header>

<!-- Sidebar -->
<div class="sidebar" [class.sidebar-visible]="showSidebar">
  <div class="sidebar-content">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="px-3">Menu</h4>
      <i class="bi bi-x fs-1 mx-3" (click)="closeSidebar()"></i>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: var(--bg-color); color: var(--text-color);">Início</li>
      <li class="list-group-item" style="background-color: var(--bg-color); color: var(--text-color);">Cardápio</li>
      <li class="list-group-item" style="background-color: var(--bg-color); color: var(--text-color);">Sobre</li>
      <li class="list-group-item" style="background-color: var(--bg-color); color: var(--text-color);">Contato</li>
    </ul>
  </div>
</div>
